html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h2 {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: white !important;
}

h2:hover {
    text-decoration: underline;
    color: wheat;
    background-color: rgb(6, 0, 83);
    border-radius: 5px;
}

.headerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.menuDiv {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: blue;
    max-width: 280px;
    height: 100vh;
    padding: 50px;
}

.menuPointsDiv {
    margin-top: 80px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.margin {
    margin: 10px;
}

.cardDiv  {
    height: 100vh;
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.background {
    object-fit: cover;
    background-image: url(img/background.png);
    width: 100%;
    height: 100vh;
}

.quizCard {
    width: 30rem;
}

.card-button {
    cursor: pointer;
}

.card-button:hover {
    cursor: pointer;
    background-color: lightblue;

}

.question-footer {
    border-top: 1px solid rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}